BasedOnStyle: Google

---
Language: Cpp
Standard: c++20
UseTab: Never
IndentWidth: 2
AccessModifierOffset: -2
ColumnLimit: 120
PointerBindsToType: true
DerivePointerAlignment: false
AllowShortFunctionsOnASingleLine: Empty
